    <!--Navbar-->
    <nav class="navbar navbar-expand-sm  navbar-dark bg-rosa ">
      <a href="/"><img src="assets/img/LogoWeb_white.png" class="navbar-brand tamanoLogoSalva"></a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavId">
          <ul class="navbar-nav margin-left-nav w-100 d-sm-flex justify-content-sm-between margin-rigth-ul">
            <li class="nav-item active">
              <a class="nav-link textLexendDeca" href="/">Inicio </a>
            </li>
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca"  href="nosotros">Nosotros </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca" href="informacion">Información</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca" href="clientes">Clientes</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link textLexendDeca" href="contacto">Contacto</a>
              </li>
          </ul>
      </div>
  </nav>
