    <!--Navbar-->
    <nav class="navbar navbar-expand-sm  navbar-dark bg-rosa ">
      <a href="/"><img src="assets/img/LogoWeb_white.png" class="navbar-brand tamanoLogoSalva"></a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavId">
          <ul class="navbar-nav margin-left-nav w-100 d-sm-flex justify-content-sm-between margin-rigth-ul">
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca"  href="nosotros">Nosotros </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca" href="informacion">Información</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link textLexendDeca" href="clientes">Clientes</a>
              </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle " href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacto</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                       <a class="dropdown-item  textLexendDeca mt-2" href="contacto">
                      <img src="assets/img/Mesa de trabajo 5 copia 2.png" class="tamanoIconList ml-n3">
                       Restaurantes
                  </a>
                  <a class="dropdown-item  textLexendDeca mt-2" href="contacto">
                      <img src="assets/img/Mesa de trabajo 5.png" class="tamanoIconList ml-n3">
                       Cafeterias
                  </a>
                  <a class="dropdown-item  textLexendDeca mt-2" href="contacto">
                      <img src="assets/img/Mesa de trabajo 5 copia 3.png" class="tamanoIconListPan ml-n3">
                       Panaderias
                  </a>
                  <a class="dropdown-item  textLexendDeca mt-2 mb-2" href="contacto">
                      <img src="assets/img/Mesa de trabajo 5 copia.png" class="tamanoIconList ml-n3">
                      Tiendas
                  </a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>
