<app-navbar-white></app-navbar-white>

<div class="contenedor w-100 mt-sm-4">
  <img src="assets/img/img-optimizadas/pexels-photo-38502135.jpg" class="w-100 margenNegativaImgCurvo">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,218.7C384,235,480,245,576,250.7C672,256,768,256,864,245.3C960,235,1056,213,1152,170.7C1248,128,1344,64,1392,32L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  <div class="centradoClientes d-flex flex-column w-50 ">
      <h1 class="text-white text-center textMogra display-1 d-none d-lg-block">Contacto</h1>
      <h1 class="text-white text-center textMogra  d-block d-lg-none">Contacto</h1>
  </div>
</div>


  <div class="row mb-5">
      <div class="col-12">
          <div class="card-deck">
              <div class="card ">
                  <div class="d-sm-flex justify-content-sm-center">
                      <img src="assets/img/Convertido]-02.jpg" class="w-25 d-none d-sm-block">
                      <img src="assets/img/Convertido]-02.jpg" class="w-100 d-block d-sm-none">
                  </div>
                  <div class="card-body">
                      <h4 class="text-center  colorTextoAzul textLexendDeca">Genera ingresos</h4>
                      <p class="text-center  ml-4 textLexendDeca">Genera ingresos extras en tu negocio, vendiendo a precios rebajados tu excedente o alimentos cercanos a la expiración.</p>
                  </div>
              </div>
              <div class="card ">
                <div class="d-sm-flex justify-content-sm-center">
                  <img src="assets/img/Convertido]-03.jpg" class="w-25 d-none d-sm-block">
                  <img src="assets/img/Convertido]-03.jpg" class="w-100 d-block d-sm-none">
                </div>
                <div class="card-body">
                    <h4 class="text-center  colorTextoAzul textLexendDeca">Consigue nuevos clientes</h4>
                    <p class="text-center  ml-4 textLexendDeca">Gracias a Salva, tu excedente se convertirá en clientes potenciales que verán el compromiso de tu marca contra el desperdicio.</p>
                </div>
              </div>
              <div class="card ">
                <div class="d-sm-flex justify-content-sm-center">
                  <img src="assets/img/Convertido]-04.jpg" class="w-25 d-none d-sm-block">
                  <img src="assets/img/Convertido]-04.jpg" class="w-100 d-block d-sm-none">
                </div>

                <div class="card-body">
                    <h4 class="text-center  colorTextoAzul textLexendDeca">Ayuda al medio ambiente</h4>
                    <p class="text-center  ml-4 textLexendDeca">Al reducir el desperdicio de alimentos todo el mundo gana: Los consumidores, el comercio, las organizaciones y principalmente nuestro planeta.</p>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row d-flex justify-content-center marginButtonFormImg">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="bordeCajaEnviarInfo shadow-lg bg-white">
              <div class="d-flex justify-content-center mt-5">
                  <img src="assets/img/Logo.-04.png" alt="" class="tamanoImgLogoRosaAlto">
              </div>
              <form class="ml-4 mr-4 mt-5">
                  <input required type="text" required name="nameEstablishment" class="form-control form-control-lg  mt-3 inputTextRedondo" placeholder="Nombre establecimiento">
                  <select required  name="typeEstablishment" class="form-control form-control-lg textGris mt-3 inputTextRedondo">
                      <option value="Restaurante" class="textGris">Restaurante</option>
                      <option value="Supermercado" class="textGris">Supermercado</option>
                      <option value="Panadería" class="textGris">Panadería</option>
                      <option value="Hotel" class="textGris">Hotel</option>
                      <option value="Otro" class="textGris">Otro</option>
                  </select>
                  <input type="text" required name="name" class="form-control form-control-lg  mt-3 inputTextRedondo" placeholder="Nombre completo">
                  <input type="text"  required name="phone" class="form-control form-control-lg  mt-3 inputTextRedondo" placeholder="Número de teléfono">
                  <input type="email" required name="email" class="form-control form-control-lg  mt-3 inputTextRedondo" placeholder="Dirreción de correo">
                  <input type="submit" value="Enviar" class="btn btn-dark btn-lg mt-5 mb-5 form-control mt-3">
              </form>
          </div>
      </div>
  </div>

  <img src="assets/img/img-optimizadas/pexels-photo-38502139.jpg" alt="" class="w-100  d-none d-md-block">
  <img src="assets/img/img-optimizadas/pexels-photo-38502139.jpg" alt="" class="w-100 marginImgButtonAntiFooter d-block d-md-none">


