<app-navbar-white></app-navbar-white>
<div class="contenedor w-100 mt-sm-4">
      <img src="assets/img/img-optimizadas/pexels-photo-38502132.jpg" class="w-100 margenNegativaImgCurvo ">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,218.7C384,235,480,245,576,250.7C672,256,768,256,864,245.3C960,235,1056,213,1152,170.7C1248,128,1344,64,1392,32L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div class="centradoClientes d-flex flex-column w-50 ">
        <h1 class="text-white text-center textMogra display-1 d-none d-lg-block">Información</h1>
        <h1 class="text-white text-center textMogra  d-block d-lg-none">Información</h1>
    </div>
</div>


<!--Informacion sabias que-->

<div class="mt-5 margenContainerInformacion">
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <h1 class="textRosa textLexendDeca mb-5 d-none d-lg-block"> ¿Sabías qué...?</h1>
            <h4 class="textRosa textLexendDeca mb-3 d-block d-lg-none"> ¿Sabías qué...?</h4>
            <p class="text-md-left textLexendDeca mr-md-5">1/3 de toda la comida en el mundo se desperdicia. Aproximadamente 1.6 millones de toneladas, 40% de este desperdicio ocurre a nivel de comercios y Consumidores. </p>
            <p class="text-md-left textLexendDeca mr-md-5">-El desperdicio de alimentos aumentara a un tercio para 2030, es decir 2.1 millones de toneladas de comida desperdiciada, el equivalente a 66 toneladas por segundo.</p>
            <p class="text-md-left textLexendDeca mr-md-5">-En Colombia de las 28.5 millones de toneladas de comida que se producen, se pierden un total de 9,7 millones de toneladas, equivalentes al 34% del total.</p>
            <p class="text-md-left textLexendDeca mr-md-5">- De esos 9,7 millones el 20.6% se pierden en cadenas de distribución, lo que equivale a 2 millones de toneladas, que se pierden después de que un establecimiento haya pagado por los productos.</p>

        </div>
        <div class="col-12 col-lg-6">
            <div class="w-100 d-flex justify-content-lg-center">
                <h3 class="textRosa textLexendDeca ml-5 d-none d-md-block">Total de perdidas</h3>
                <h4 class="textRosa textLexendDeca text-center ml-2 d-block d-md-none">Total de perdidas</h4>
            </div>
               <div class="row ">
                <div class="col-4 flex-column">
                    <img src="assets/img/img-optimizadas/comidaSudable.jpg" class="imgRedonda ml-5  d-none d-lg-block">
                    <img src="assets/img/img-optimizadas/tuberculos.jpg" class="imgRedonda ml-5 mt-4 d-none d-lg-block">
                    <img src="assets/img/img-optimizadas/granos.jpg" class="imgRedonda ml-5 mt-4 d-none d-lg-block">

                </div>
                <div class="col-8 flex-column">
                    <div class="ml-2   mt-4 d-none d-lg-block">
                        <h2 class="textLexendDeca">6,1 Millones</h2>
                        <p class="textLexendDeca">De toneladas de frutas y verduras..</p>

                    </div>
                      <div  class="ml-2  divMargenTopInfo d-none d-lg-block">
                        <h2 class="textLexendDeca">2,4 Millones</h2>
                        <p class="textLexendDeca">De toneladas de raíces y tubérculos.</p>
                    </div>
                      <div  class="ml-2 divMargenTopInfo d-none d-lg-block">
                        <h2 class="textLexendDeca">148 Mil</h2>
                        <p class="textLexendDeca">Toneladas de grano. </p>
                    </div>
                </div>
            </div>

            <div class="row d-block d-lg-none mt-4 ">
                 <div class="col-12 ">
                     <div class="w-100 d-flex justify-content-center">
                        <img src="assets/img/img-optimizadas/comidaSudable.jpg" class="imgRedonda  ">

                     </div>

                    <h2 class="textLexendDeca text-center">6,1 Millones</h2>
                    <p class="textLexendDeca text-center">De toneladas de frutas y verduras..</p>
                </div>

                 <div  class=" ">
                     <div class="w-100 d-flex justify-content-center">
                        <img src="assets/img/img-optimizadas/tuberculos.jpg" class="imgRedonda  mt-4">
                     </div>

                    <h2 class="textLexendDeca text-center">2,4 Millones</h2>
                    <p class="textLexendDeca text-center">De toneladas de raíces y tubérculos.</p>
                </div>

                <div  class=" ">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="assets/img/img-optimizadas/granos.jpg" class="imgRedonda  mt-4">

                     </div>

                    <h2 class="textLexendDeca text-center">148 Mil</h2>
                    <p class="textLexendDeca text-center">Toneladas de grano. </p>
                </div>

            </div>

        </div>
    </div>
</div>

 <!--Cards carousel-->

<div class="tituloCarouselMargen ">
    <h2 class="textLexendDeca text-center textRosa">Una aplicación para </h2>
    <h2 class="textLexendDeca text-center textRosa">cada negocio</h2>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">

            <div class="card-deck">
                <div class="card">
                    <div class="d-sm-flex justify-content-sm-center">
                        <img src="assets/img/img-optimizadas/FotoInfo1.jpg" class="w-75 d-none d-sm-block ">
                        <img src="assets/img/img-optimizadas/FotoInfo1.jpg" class="w-100 d-block d-sm-none ">
                    </div>

                    <div class="card-body">
                        <h4 class="text-center  colorTextoAzul textLexendDeca mt-n2">Restaurantes</h4>

                    </div>
                </div>
                <div class="card">
                <div class="d-sm-flex justify-content-sm-center">
                        <img src="assets/img/img-optimizadas/FotoInfo2.jpg" class="w-75 d-none d-sm-block ">
                        <img src="assets/img/img-optimizadas/FotoInfo2.jpg" class="w-100 d-block d-sm-none ">
                    </div>

                    <div class="card-body">
                        <h4 class="text-center  colorTextoAzul textLexendDeca mt-n2">Panaderías</h4>

                    </div>
                </div>
                <div class="card">
                <div class="d-sm-flex justify-content-sm-center">
                        <img src="assets/img/img-optimizadas/FotoInfo3.jpg" class="w-75 d-none d-sm-block ">
                        <img src="assets/img/img-optimizadas/FotoInfo3.jpg" class="w-100 d-block d-sm-none ">
                    </div>

                    <div class="card-body">
                        <h4 class="text-center  colorTextoAzul textLexendDeca mt-n2">Cafeterías</h4>

                    </div>
                </div>
                <div class="card">

                <div class="d-sm-flex justify-content-sm-center">
                        <img src="assets/img/img-optimizadas/fotoInfo4.jpg" class="w-75 d-none d-sm-block ">
                        <img src="assets/img/img-optimizadas/fotoInfo4.jpg" class="w-100 d-block d-sm-none ">
                    </div>

                    <div class="card-body">
                        <h4 class="text-center  colorTextoAzul textLexendDeca mt-n2">Tiendas</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

