
    <!--Contenedor información principal -->
    <div class="w-100 bg-rosa">
      <div class="row">
          <div class="col-lg-6">
              <div class="margin-top-contenido-info mt-3 mb-n3 mt-sm-0 ">
                  <h1 class="tamanoTitulo mt-sm-5">QUIEN CREERÍA,</h1>
                  <h2 class="subtituloTamano"> ¡COMIENDO SALVARÍAMOS EL PLANETA!</h2>
                  <p class="textTamano">La app que ayuda a reducir desperdicios y a cuidar tu bolsillo, cada vez que compras en Salva estás ayudando a salvar el
                  planeta.</p>
                  <div class="d-flex justify-content-lg-center ml-3 mb-3 mb-sm-n0  mb-sm-n5">
                      <a href="aplicacion" class="btn btn-light btn-lg textLexendDeca mt-lg-5 mb-2 button-redondo d-none d-sm-block colorTextoAzul">Comprar comida online</a>
                      <a href="aplicacion" class="btn btn-light textLexendDeca mt-lg-5 mb-2 button-redondo d-block d-sm-none colorTextoAzul">Comprar comida online</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="margin-top-contenido2">
                  <img src="assets/img/img-optimizadas/Capturacelular.png" class="tamanoGif" >
              </div>
          </div>
      </div>
  </div>
  <!--svg inferior con curvas -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5d9d" fill-opacity="1"
          d="M0,192L80,208C160,224,320,256,480,245.3C640,235,800,181,960,138.7C1120,96,1280,64,1360,48L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
      </path>
  </svg>

  <div class="row">
      <div class="col-12 col-lg-6" >

          <h2 class="colorTextoAzul TextAveriaSans text-center text-empieza-salvar text-empieza-salvar">
              Empieza a salvar
          </h2>
          <h2 class="colorTextoAzul TextAveriaSans mb-sm-5 text-center text-empieza-salvar">
              comida deliciosa
          </h2>
          <p class="textLexendDeca ml-sm-5  alinearTextIzquierda d-none d-sm-block" >
              Nuestra app es la forma más directa para ayudar a reducir el desperdicio de comida. Simplemente, descarga la app,
              regístrate y empieza a salvar el excedente de comida de tus establecimientos más cercanos. Tu pack de comida siempre
              será sorpresa, a buen precio y estarás generando un impacto positivo directo en el planeta. ¿Qué esperas?
          </p>

          <p class="textLexendDeca ml-sm-5  text-left mr-3 ml-3 d-block d-sm-none">
              Nuestra app es la forma más directa para ayudar a reducir el desperdicio de comida. Simplemente, descarga la app,
              regístrate y empieza a salvar el excedente de comida de tus establecimientos más cercanos. Tu pack de comida siempre
              será sorpresa, a buen precio y estarás generando un impacto positivo directo en el planeta. ¿Qué esperas?
          </p>
      </div>
      <div class="col-12 col-lg-6 d-sm-flex justify-content-sm-center">
          <img src="assets/img/img-optimizadas/capturadeiamgen.jpg" class="w-100 d-block d-sm-none" >
    <img src="assets/img/img-optimizadas/capturadeiamgen.jpg" class="w-50 d-none d-sm-block" >
      </div>
  </div>


  <div class="contenedor w-100 mt-sm-4 d-none d-md-block">
      <img src="assets/img/img-optimizadas/Mesadetrabajo.jpg" class="w-100" />
      <div class="centrado d-flex flex-column w-50 ">
          <h1 class="text-white text-center TextAveriaSans">Darle una segunda oportunidad</h1>
          <h1 class="text-white text-center TextAveriaSans">a los alimentos, es darle un</h1>
          <h1 class=" text-white text-center TextAveriaSans">respiro al planeta</h1>
      </div>
  </div>

  <img src="assets/img/img-optimizadas/fondoHorizontal.jpg" class="w-100 mt-4 d-block d-md-none">
  <div class="d-flex flex-column w-100  d-block d-md-none colorMorado">
      <h4 class="text-white text-center mt-5 TextAveriaSans">Darle una segunda oportunidad</h4>
      <h4 class="text-white text-center TextAveriaSans">a los alimentos, es darle un</h4>
      <h4 class=" text-white text-center TextAveriaSans">respiro al planeta</h4>
  </div>
