<app-navbar-white></app-navbar-white>
<div class="contenedor w-100 mt-sm-4 d-none d-lg-block">
  <img src="assets/img/img-optimizadas/Fondo completo.png" class="w-100  " >
  <div class="centradoClientes3 w-50 ">
      <h1 class="text-white text-center textMogra display-1">Nosotros</h1>

  </div>
    <div class="centradoClientes2 ">
      <div class="w-100 d-flex justify-content-center mt-5">
          <div class="w-50">
              <p class="text-white  textLexendDeca" style="font-size: 20px;">
                  Somos una app que lucha contra el desperdicio de alimentos, conectando  consumidores y comercios mediante la publicación de productos cercanos al vencimiento o que no fueron vendidos durante el día, permitiendo a los consumidores acceder a precios rebajados.
              </p>
          </div>
      </div>
  </div>
</div>

<div class="contenedor w-100 mt-sm-4 d-block d-lg-none mb-5">
    <img src="assets/img/img-optimizadas/imgPizzaVersionMovil.jpg" class="w-100">
  <div class="centradoClientes3 d-flex flex-column w-50 ">
      <h1 class="text-white text-center textMogra display-1 d-none d-lg-block">Nosotros</h1>
      <h1 class="text-white text-center textMogra  d-block d-lg-none textNosotrosmargin">Nosotros</h1>
  </div>
</div>

<div class="w-100 d-block d-lg-none mb-5 ml-3 mr-3">
  <h3 class="textRosa textLexendDeca text-center mr-2">Nosotros</h3>
  <p class="textLexendDeca">
      Somos una app que lucha contra el desperdicio de alimentos, conectando  consumidores y comercios mediante la publicación de productos cercanos al vencimiento o que no fueron vendidos durante el día, permitiendo a los consumidores acceder a precios rebajados.
  </p>
</div>

<!--Tarjetas-->
<div class="container">
  <div class="row">
      <div class="col-12 col-md-8 ">
          <div class=" card-deck ">
              <div class="card">
                  <div class="d-sm-flex justify-content-sm-center">
                      <img src="assets/img/mirandoComida.jpg" class="w-50 d-none d-sm-block">
                      <img src="assets/img/mirandoComida.jpg" class="w-100 d-block d-sm-none">
                  </div>
                  <div class="card-body">
                      <h4 class="text-center textRosa textLexendDeca">Descarga la app</h4>
                      <p class="text-left ml-4 textLexendDeca">El primer paso es ingresar a la app Salva, donde encontraras los packs sorpresa.</p>
                  </div>
              </div>
              <div class="card">
                <div class="d-sm-flex justify-content-sm-center">
                  <img src="assets/img/caserola.jpg" class="w-50 d-none d-sm-block">
                  <img src="assets/img/caserola.jpg" class="w-100 d-block d-sm-none">
                  </div>
                  <div class="card-body">
                      <h4 class="text-center  textRosa textLexendDeca mt-n2">Encuentra tu pack</h4>
                      <h4 class="text-center  textRosa textLexendDeca mt-n1">sorpresa</h4>
                      <p class="text-left  ml-4 textLexendDeca">En lugar de tirar a la basura la comida en perfectas condiciones, estos establecimientos ofrecen sus excedentes en sus packs sorpresa.</p>
                  </div>
              </div>
          </div>

          <div class="card-deck ">
              <div class="card ">
                <div class="d-sm-flex justify-content-sm-center">
                    <img src="assets/img/buscandoComida.jpg" class="w-50 d-none d-sm-block">
                  <img src="assets/img/buscandoComida.jpg" class="w-100 d-block d-sm-none">
                </div>

                <div class="card-body">
                    <h4 class="text-center  textRosa textLexendDeca">Reserva una comida</h4>
                    <p class="text-left  ml-4 textLexendDeca">Reserva una comidaEncuentra un pack sorpresa cerca de ti, resérvalo a través de la app y acude al establecimiento de la hora de recogida indicada.</p>
                </div>
              </div>
              <div class="card ">
                <div class="d-sm-flex justify-content-sm-center">
                  <img src="assets/img/moto.jpg" class="w-50 d-none d-sm-block">
                  <img src="assets/img/moto.jpg" class="w-100 d-block d-sm-none">
                </div>

                <div class="card-body">
                    <h4 class="text-center  textRosa textLexendDeca">Recoge tu comida</h4>
                    <p class="text-left  ml-4 textLexendDeca">Cuando llegues al establecimiento muestra al personal el pedido en la app, desliza el botón para recogerlo y ¡siente el orgullo de estar luchando contra el desperdicio de alimento!</p>
                </div>
              </div>
          </div>
            <div class="card d-block d-md-none">
              <div class="d-sm-flex justify-content-sm-center">
                <img src="assets/img/pesandoEnComida.jpg" class="w-50 d-none d-sm-block">
                <img src="assets/img/pesandoEnComida.jpg" class="w-100 d-block d-sm-none">
              </div>

              <div class="card-body">
                  <h4 class="text-center  textRosa textLexendDeca">¡Disfruta con orgullo!</h4>
                  <p class="text-left ml-4 textLexendDeca">1/3 de la comida termina siendo desperdiciada, así que estas contribuyendo a algo muy grande.</p>
              </div>
          </div>
      </div>
      <div class="col-4 d-none d-md-block margin-top-card-rigth">
          <div class="card ">
            <div class="d-sm-flex justify-content-sm-center">
              <img src="assets/img/pesandoEnComida.jpg" class="w-100 d-block d-sm-none">
            </div>
            <div class="d-flex justify-content-center">
                <img src="assets/img/pesandoEnComida.jpg" class="w-50">
            </div>
            <div class="card-body">
                <h4 class="text-center textRosa textLexendDeca ">¡Disfruta con orgullo!</h4>
                <p class="text-left  ml-4 textLexendDeca">1/3 de la comida termina siendo desperdiciada, así que estas contribuyendo a algo muy grande.</p>
            </div>
          </div>
      </div>
  </div>
</div>

