.margen-negativa-imagen {
  margin-top: -240px;
}

.margin-negativa-svg-inferior {
  margin-top: -40px;
}

.contenedorTextoDiseñoCurvo {
  background-color: #ff5d9d;
}

.card {
  border: none;
}

.margin-top-card-rigth {
  margin-top: 180px;
}

.margenTopTextNosotrosImg {
  margin-top: 600px;
}

.marginTextInfoNosotros {
  margin-top: -300px;
}

.textNosotrosmargin {
  margin-top: 35%;
}
